@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.imgs {
	width: 100%;
	height: 600px;
    border-radius: 10px;
    padding: 5px;
	background-size: cover;
}

body{
	overflow-x: hidden;     /* For hide the down scroll bar */    
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;


}

.signup{
width: 90px;
margin-left: 4px;
}

.nav-item:hover{
	text-decoration: underline;
	color:blue;
}

.head{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subhead{
	font-family: "Platypi", serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
}

.card:hover{
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(212, 44, 111, 0.19);
    transform: scale(1.1);
	transition: 1s; 
}

.list{
	text-decoration: none;
	color: #fff;
	font-size: small;
}
.footer-head{
	color: rgb(82, 81, 81);
}

@media(max-width:410px){
	.imgs{
		width: 20%;
		height: 250px;
	}
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	gap: 30px; 	
	padding-top: 200px;
	padding-left: 400px;
}

.text-shadow {
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 0.5s ease-in-out infinite alternate;

	&:hover {
		color: #fff;
	}
}

.tags small {
	@media (max-width: 768px) {
		font-size: 0.5em;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px #2962ff;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px #2962ff;
	}
}



/* ---------------------------------------------------------------------------------------------------------------- */



